/** Copyright Onex Technology 2021 **/



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: Headings;
    src: url(Headings.woff2);
  }
  
  @font-face {
    font-family: Light;
    src: url(Light.woff2);
  }
  
  @font-face {
    font-family: Medium;
    src: url(Medium.woff2);
  }
  
  @font-face {
    font-family: Regular;
    src: url(Regular.woff2);
  }

  #backvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  /*** Works on common browsers ***/
::selection {
    background-color: #02476d;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #02476d;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #02476d;
    color: #fff;
}

::-ms-selection {
    background-color: #02476d;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #051c2c;
    color: #fff;
}

.navthing {
    margin-right: 35px;
    margin-left: 35px;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
}


.navlinkthing {
    font-family: Light;
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navlinkthing:hover {
    font-family: Light;
    font-size: 30px;
    text-decoration: none;
    text-decoration: none;
    color: #031d2b;
}

.heroandnav {
    background-color: #02476d;
}

#herovid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 0%;
  }

@media (max-width: 991px) {
    .video-container {
        margin-top: 60px;
    }
}

video {
    width: 100%;
}

.video-container {
    overflow:hidden;
    display:block;
    width: 100%;
    max-height: 75%;
    background-color: white;
    opacity: 0.35;
}

.title {
    position:absolute;
    font-family: Light;
    left: 15%;
    width: 70%;
    color: white;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-weight: 500;
}

.justheroback {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('heroback.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}


.herofour {
    color: white;
    font-family: Regular;
    font-size: 75px;
    opacity: none;
    filter: brightness(100%);
    animation: fadeInRightBig; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.heroone {
    color: white;
    font-family: Medium;
    font-size: 100px;
    opacity: none;
    filter: brightness(100%);
    animation: fadeInLeftBig; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

html {
    scroll-behavior: smooth;

}

.downscroll {
    text-decoration: underline 2px solid white;
    color: white;
    transition: 0.3s;
    font-size: 25px;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 10s; /* don't forget to set a duration! */
    text-underline-offset: 6px;
    border-color: #2251ff;
    background-color: transparent;
    border-width: 2px;
    border-radius: 0%;
}

.downscroll:hover {
    text-decoration: none;
    color: white;
    background-color: #2251ff;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.1);
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 10s; /* don't forget to set a duration! */
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.1);
    
}

.downscroll:active {
    text-decoration: none;
    color: white;
    background-color: #2251ff;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.1);
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 10s; /* don't forget to set a duration! */
}

.servicebody {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 15px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #02476d;
    color: white;
    font-family: Light;
    transform: rotateY(180deg);
  }

  .icard {
      fill: white;
      color: white;
      width: 30px;
      height: 30px;
      
  }

  .filpcardone {
      color: white;
      font-family: Medium;
      font-size: 50px;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
  }
  
  .sticky + .content {
    padding-top: 102px;
    transition: 0.3s;
  }

.sertocontbutton {
    width: 150px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 0px;
    font-family: Medium;
}

.sertocontbutton:hover {
    width: 150px;
    text-decoration: none;
    color: white;
    background-color: #2251ff;
    border-color: #2251ff;
    font-family: Medium;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.withback {
    background-color: #dee5e9;
    border-color: 5px wavy #dee5e9;
}

.serviceheader {
    color: black; 
    font-family: Medium; 
    font-size: 60px; 
    background-color: white;
    border-radius: 5px;
    border-top: 3px solid #2251ff;
    border-bottom: 3px solid #2251ff;
    border-left: 3px solid #2251ff;
    border-right: 3px solid #2251ff;

}


.aboutbody {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.aboutsubhead {
    font-family: Regular;
    font-size: 35px;
}

.aboutsubpara {
    font-family: Light;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.aboutsubparaa {
    font-family: Light;
    font-size: 20px;
    text-decoration: underline 2px solid #2251ff;
    color: black;
    transition: 0.2s;
    text-underline-offset: 4px;
}

.aboutsubparaa:hover {
    font-family: Light;
    font-size: 20px;
    text-decoration: underline 2px solid #2251ff;
    color: #2251ff;
    transition: 0.2s;
    text-underline-offset: 4px;
}

.abouttocontbutton {
    width: 150px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-color: #2251ff;
    border-width: 2px;
    border-radius: 0px;
    font-family: Medium;
}

.abouttocontbutton:hover {
    width: 150px;
    text-decoration: none;
    color: white;
    background-color: #2251ff;
    border-color: #2251ff;
    font-family: Medium;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);

}

.clientsbody {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    background-color: #02476d;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    height: 75px;
    text-decoration: none;
}
.footer:hover {
    background-color: #02476d;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    height: 75px;
    text-decoration: none;
}

.clihov {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.clihov:hover {
    text-decoration: none;
    color: #2251ff;
}

.clibr {
    font-family: Light;
    font-size: 20px;
}

.clibrh {
    font-family: Medium;
    font-size: 30px;
}

.digmarkserbul {
    font-family: Light;

    color: #FFF;
}
